TELEGRAM_BOT_TOKEN=여기에_텔레그램_봇_토큰
ANTHROPIC_API_KEY=sk-ant-여기에_Anthropic_키
INSTAGRAM_USERNAME=zoozooland_zzl
INSTAGRAM_PASSWORD=여기에_인스타그램_비밀번호
APPROVAL_CHAT_ID=-1003990713280
IMGBB_API_KEY=여기에_imgbb_키
MAKE_WEBHOOK_URL=https://hook.us2.make.com/여기에_웹훅_ID
